.expanded{
  padding: 54pt 0;

  .icons {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

    .icon {
      img {
        border-radius: #{2 * $radius};
      }
      &-work {
        padding: 1.2em;
      };
      &-team {
        margin: 1.2em;
      };

      flex: 1 0 30%;
      max-width: 220px;
      max-height: 220px;

      @include desktop{
        flex: 1 0 10%;
      }
    }
  }

  a.expanded__text{
    text-decoration: underline;
  }
}
.expanded__inner{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;

  @include desktop{
    flex-direction: row;
  }
}

.expanded__media{
  order: 1;
  text-align: center;

  @include desktop{
    width: 50%;
    flex-shrink: 0;
    order: unset;
  }
}

.head__container {
  text-align: center;
}

.expanded__content{
  order: 2;

  @include desktop{
    padding: 0 16pt;
    width: 50%;
    flex-shrink: 0;
    order: unset;
  }

}

.expanded:nth-child(even){
  .expanded__media{
    order: 1;

    @include desktop{
      order: 1;
    }
  }
}

/* Actual content */
.expanded__image, .expanded__video {
  width: 90%;
  max-width: 220px;
  padding: 16pt 0;

  @include desktop{
    max-width: 600px;
  }

  &--vertical {
    @include desktop{
      max-width: 300px;
    }
  }
}

.expanded__title{
  max-width: 550px;
}

.expanded__text{
  max-width: 60ch;
}
