// SASS style sheet */
// Palette color codes */
// Palette URL: http://paletton.com/#uid=23L0u0kp-PBcwUqjERfwGOkN8Ab */

// Feel free to copy&paste color codes to your application */


// As hex codes */

$color-primary-0: #4071E1;	// Main Primary color */
$color-primary-1: #9BB4EE;
$color-primary-2: #678DE5;
$color-primary-3: #1753DE;
$color-primary-4: #083EB8;

$color-complement-0: #FFBB33;	// Main Complement color */
$color-complement-1: #FFDE9B;
$color-complement-2: #FFCB62;
$color-complement-3: #FFAA00;
$color-complement-4: #FFAA00;

// As RGBa codes */

$rgba-primary-0: rgba( 64,113,225,1);	// Main Primary color */
$rgba-primary-1: rgba(155,180,238,1);
$rgba-primary-2: rgba(103,141,229,1);
$rgba-primary-3: rgba( 23, 83,222,1);
$rgba-primary-4: rgba(  8, 62,184,1);

$rgba-complement-0: rgba(255,187, 51,1);	// Main Complement color */
$rgba-complement-1: rgba(255,222,155,1);
$rgba-complement-2: rgba(255,203, 98,1);
$rgba-complement-3: rgba(255,170,  0,1);
$rgba-complement-4: rgba(255,170,  0,1);


// Colors
$primary: $color-primary-0;
$secondary: $color-primary-4;
$accent: $color-complement-4;
$primary-dark: $color-complement-3;
$text: #666;
$text-dark: #111;
$background: #ffffff;
$background-alt: #f7f7f7;
$background-dark: #333C44;
$line: #eee;
$success: $accent;
$error: tomato;

// Typography
$font: "Lato",sans-serif;
$font-size: 15px;
$line-height: 1.7;
$light: 300;
$normal: 400;
$bold: 700;

// Other variables
$radius: 4px;

// Containers
$containerWidth: 88%; // Percentage of screen width
$containerMax: 1080px; // Largest fixed width
$text-container: 640px; // Limit texts for readability

// Media queries
$tablet-width: 600px !default; // Tablets
$desktop-width: 992px !default; // Desktops & Laptops
$huge-width: 1400px !default; // Large Desktops

/* Components */

// Navigation bar
$navbar-height: 60px; // Height for navigation globally
$navbar-height-extended: 70px; // Extended height for navigation => Used on landing

// Hero
$hero-color: $background;
$hero-shadow: 0 4px 11px rgba(124,146,169,0.5);
$hero-color-opacity: 0.8;
$hero-mask-opacity: 0.66;
$hero-down-size: 1rem; 
